.bordered {
	border-radius: 1px;
	border: 1px solid #FFFFFF;
}
.imgimg {
	max-height: 10em;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.searchNoMargin {
	margin: 0.3em 0 0 1em;
}
.noBreak {
	text-indent: 2%;
	display: inline;
}
.hidden {
	display: none !important;
	visibility: hidden !important;
}
.scrollDesc{
	height: 20em;
	overflow: scroll;
}
#AnyTime--normDate, #AnyTime--startDate, #AnyTime--endDate {
    opacity: 1;
}