.bordered {
	border-radius: 1px;
	border: 1px solid #FFFFFF;
}
.imgimg {
	height: 100%;
	width: auto;
}
.divimg {
	height: 3.5em;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}
.searchNoMargin {
	margin: 0.3em 0 0 1em;
}
.noBreak {
	text-indent: 2%;
	display: inline;
}